In [1]:
import pandas as pd
import numpy as np
import math
pd.__version__

'1.3.5'

In [2]:
np.__version__

'1.21.6'

In [3]:
data_base = pd.read_csv('database.csv')

In [4]:
print(data_base)

   Nombre  Horacio  Carlos  Andrea  Valentina  Jorge  Ivan   Ana  Santiago  \
0  Valor0     0.75    0.88    0.14       0.67   0.63  0.35  0.05      0.69
1  Valor1     0.59    0.48    0.68       0.94   0.04  0.47  0.86      0.01
2  Valor2     0.82    0.64    0.80       0.81   0.42  0.94  0.20      0.06
3  Valor3     0.52    0.48    0.89       0.24   0.83  0.10  0.06      0.37
4  Valor4     0.94    0.75    0.92       0.24   0.36  0.67  0.53      0.54
5  Valor5     0.08    0.94    0.19       0.65   0.35  0.12  0.51      1.00

   Lorena  Gabriel
0    0.79     0.39
1    0.08     0.75
2    0.81     0.71
3    0.88     0.73
4    0.34     0.00
5    0.79     0.41

In [6]:
First_element = "Jorge" #@param ["Horacio", "Carlos", "Andrea", "Valentina", "Jorge", "Ivan", "Ana", "Santiago", "Lorena", "Gabriel"]

print(First_element)

Second_element = "Santiago" #@param ["Horacio", "Carlos", "Andrea", "Valentina", "Jorge", "Ivan", "Ana", "Santiago", "Lorena", "Gabriel"]

print(Second_element)

Jorge
Santiago

In [7]:
if First_element == "Horacio":
  First_value = data_base.Horacio
elif First_element == "Carlos":
  First_value = data_base.Carlos
elif First_element == "Andrea":
  First_value = data_base.Andrea
elif First_element == "Valentina":
  First_value = data_base.Valentina
elif First_element == "Jorge":
  First_value = data_base.Jorge
elif First_element == "Ivan":
  First_value = data_base.Ivan
elif First_element == "Ana":
  First_value = data_base.Ana
elif First_element == "Santiago":
  First_value = data_base.Santiago
elif First_element == "Lorena":
  First_value = data_base.Lorena
elif First_element == "Gabriel":
  First_value = data_base.Gabriel
else:
  print("Valor no disponible")

if Second_element == "Horacio":
  Second_value = data_base.Horacio
elif Second_element == "Carlos":
  Second_value = data_base.Carlos
elif Second_element == "Andrea":
  Second_value = data_base.Andrea
elif Second_element == "Valentina":
  Second_value = data_base.Valentina
elif Second_element == "Jorge":
  Second_value = data_base.Jorge
elif Second_element == "Ivan":
  Second_value = data_base.Ivan
elif Second_element == "Ana":
  Second_value = data_base.Ana
elif Second_element == "Santiago":
  Second_value = data_base.Santiago
elif Second_element == "Lorena":
  Second_value = data_base.Lorena
elif Second_element == "Gabriel":
  Second_value = data_base.Gabriel
else:
  print("Valor no disponible")

In [8]:
print(First_value)
print(Second_value)

0    0.63
1    0.04
2    0.42
3    0.83
4    0.36
5    0.35
Name: Jorge, dtype: float64
0    0.69
1    0.01
2    0.06
3    0.37
4    0.54
5    1.00
Name: Santiago, dtype: float64

In [9]:
AB = (First_value[0] * Second_value[0]) + (First_value[1] * Second_value[1]) + (First_value[2] * Second_value[2]) + (First_value[3] * Second_value[3]) + (First_value[4] * Second_value[4]) + (First_value[5] * Second_value[5])

print(AB)

Ap = math.sqrt((First_value[0]**2) + (First_value[1]**2) + (First_value[2]**2) + (First_value[3]**2) + (First_value[4]**2) + (First_value[5]**2))
Bp = math.sqrt((Second_value[0]**2) + (Second_value[1]**2) + (Second_value[2]**2) + (Second_value[3]**2) + (Second_value[4]**2) + (Second_value[5]**2))
print(Ap)
print(Bp)

Cos = AB/(Ap * Bp)
print("------------------------------------------------------------")
print("El valor del coseno es:")
print(Cos)

1.3117999999999999
1.2312189082368739
1.3814123207789917
------------------------------------------------------------
El valor del coseno es:
0.771274592440849